<div class="about-container">
  <mat-card>
    <mat-card-header>
      <h2>Unit Converter</h2>
    </mat-card-header>
    <mat-card-header>
      <h3>Version 1.0</h3>
    </mat-card-header>

    <mat-card-content>This Converter app is the final task of a course Frameworks at LAB University of Applied Sciences.
      Framework stack used was Angular v.17.0.2. Source code was written using TypeScript in VSCode. UI framework used
      was Angular Material v.17.0.0.
    </mat-card-content>
    <mat-divider></mat-divider>

    <mat-card-actions><a routerLink="/">
        <div class="home-icon">
          <i class="material-icons">home</i></div>
      </a></mat-card-actions>
  </mat-card>
</div>
